body{
  background-color:#bfbff2;
}
h1{
  text-align: center;
  color: inherit;
}
hr{
	width: 450px;
}

div.header{
  border-style: solid;
  border-width: 1px;
}
div.header p{
  font-style: italic;
  font-family: "Lucida Handwriting", cursive;
  text-align: center;
  padding-bottom: 10px;
}
.container{
	border-style: solid;
	border-width: 1px;
	width: 80%;
	margin: 0 auto;

}
div.div1{
  float: left;
  width: auto;
  margin: auto;
  padding-left: 20%;
}
div.div2{
  padding-left: 65%;
  padding-bottom: 50px;
}
.info{
	margin: auto;
  width: 60%;
  /*border: 3px solid #73AD21;*/
  padding-left: 10px;
}
#image{
  width: 200px;
  height: 150px;
  margin: auto;
  padding-right: 60px;
  padding-top: 20px;

}
textarea{
	width: 400px;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}
.customersinfo table{
  padding-left: 25%;
}
.bot{
  padding-left: 30%;
}
.footer{
  padding-left: 10%;
}
